on: [push, pull_request]
name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Prepare
        run: sudo apt-get install python-is-python3 gperf -y
      - name: Test
        run: |
          make test/esp-idf test/tools
          make build
